.App {
  text-align: center;
}

.search-todo {
  width: 360px;
  margin: 0 auto;
  height: 30px;
  border-radius: 4px;
  padding: 0 10px;
}
.todos {
  position: relative;
  width: 550px;
  margin: 0 auto;
}
